:root {
  --red-color: #eb4d4d;
  --black-color: #000;
  --white-color: #fff;
  --grey-color: #838080;
}

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.nav-bar-sec {
  box-shadow: 0px 0px 4px 1px #8080806b;
  padding: 14px 30px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  background-color: var(--white-color);
  z-index: 1200;
}

.nav-bar-sec .nav-link-btn-sec a {
  text-decoration: none;
  color: #54575a;
  margin-right: 40px;
}

.nav-bar-sec .sign-in-btn {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  margin-right: 25px;
}

.nav-bar-sec button {
  font-size: 14px;
  padding: 10px 15px;
  font-weight: 500;
}

.fetchr-sec1 {
  background-image: url("../images/hero-delivery.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 140px !important;
  position: relative;
}

.fetchr-sec1 .head-sec {
  max-width: 630px;
  margin: auto;
  text-align: center;
  margin-bottom: 80px !important;
  position: relative;
  z-index: 1;
}

.fetchr-sec1 .head-sec h1 {
  font-size: 66px;
  font-weight: 700;
  line-height: 71px;
  color: var(--white-color);
}

.fetchr-sec1 .head-sec h1 span {
  color: #f59f0a;
}

.fetchr-sec1 .head-sec p {
  font-size: 21px;
  line-height: 31px;
  margin-top: 36px;
  color: var(--white-color);
}

.fetchr-sec1 .head-sec button {
  outline: none;
  border-width: 0px;
  padding: 11px;
  background-color: #f59f0a;
  font-size: 17px;
  border-radius: 10px;
  min-width: 177px;
  color: var(--white-color);
  margin-top: 24px;
  font-weight: 500;
  display: inline-flex;
  justify-content: center;
}

.fetchr-sec1 .head-sec button img,
.fetchr-sec4 .button-sec button img {
  transform: translateX(7px);
}

.fetchr-sec1::after {
  background-image: linear-gradient(to right, #1a2638, #157d46);
  display: block;
  content: "";
  position: absolute;
  inset: 0;
  opacity: 0.9;
}

.fetchr-sec1 .counter-sec {
  padding-bottom: 70px;
  max-width: 630px;
  margin: auto;
}

.fetchr-sec1 .counter-sec {
  position: relative;
  z-index: 1;
  text-align: center;
}

.fetchr-sec1 .counter-sec .count-sec h2 {
  font-size: 30px;
  font-weight: 700;
  color: #f59f0a;
  margin-bottom: 4px !important;
}

.fetchr-sec1 .counter-sec .count-sec span {
  color: var(--white-color);
  font-size: 14px;
}

.fetchr-sec2,
.fetchr-sec3 {
  padding-top: 80px !important;
}

.fetchr-sec2 .head-sec {
  text-align: center;
  margin: 60px auto;
  max-width: 650px;
}

.fetchr-sec2 .head-sec h1 {
  font-size: 43px;
  font-weight: 700;
  margin-bottom: 16px;
}

.fetchr-sec2 .head-sec p {
  font-size: 18px;
  color: #8f949a;
}

.fetchr-sec2 .card-section {
  position: relative;
}

.fetchr-sec2 .card-section .card-div {
  text-align: center;
}

.fetchr-sec2 .card-section .card-div img {
  position: relative;
  z-index: 1;
}

.fetchr-sec2 .card-section .card-div h3 {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 10px;
  margin-top: 17px;
}

.fetchr-sec2 .card-section .card-div p {
  font-size: 15px;
  color: #8f949a;
  line-height: 22px;
}

.fetchr-sec2 .card-section .card-div::after {
  display: block;
  content: "";
  position: absolute;
  left: 20%;
  right: 20%;
  height: 2.2px;
  top: 43%;
  background-color: #bebfba;
}

.fetchr-sec3 .head-sec {
  text-align: center;
  margin: 60px auto;
  max-width: 650px;
}

.fetchr-sec3 .head-sec h1 {
  font-size: 43px;
  font-weight: 700;
  margin-bottom: 20px;
}

.fetchr-sec3 .head-sec p {
  font-size: 18px;
  color: #8f949a;
}

.fetchr-sec3 .card-section .card-div {
  background-color: white;
  border: 2px solid #e1e7ef;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 28px !important;
  transition: all 0.4s;
  cursor: default;
  margin: 5px;
}

.fetchr-sec3 .card-section .card-div:hover {
  border-color: #157d46;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
}

.fetchr-sec3 .card-section .card-div h3 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
  margin-top: 20px;
}

.fetchr-sec3 .card-section .card-div p {
  font-size: 15px;
  color: #54575a;
  line-height: 22px;
}

.fetchr-sec4 {
  background-image: linear-gradient(to bottom right, #1a2638 40%, #157d46);
  padding: 80px 20px !important;
  text-align: center;
  margin-top: 70px;
}

.fetchr-sec4 h1 {
  font-size: 50px;
  font-weight: 700;
  line-height: 61px;
  color: var(--white-color);
  margin-bottom: 30px !important;
  max-width: 600px;
  margin: auto;
}

.fetchr-sec4 p {
  font-size: 21px;
  color: #eeefef;
  line-height: 22px;
}

.fetchr-sec4 .button-sec {
  max-width: 430px;
  margin: 50px auto;
}

.fetchr-sec4 .button-sec button {
  width: 100%;
  outline: none;
  border-width: 0px;
  padding: 11px;
  background-color: #f59f0a;
  font-size: 17px;
  border-radius: 10px;
  color: var(--white-color);
  font-weight: 500;
  display: inline-flex;
  justify-content: center;
}

.contact-btn {
  background-color: #fff !important;
  color: #000 !important;
}

.fetchr-sec4 .credit-txt {
  font-size: 14.5px;
}

.container {
  max-width: 1200px !important;
}

.footer-sec {
  padding: 70px 0px;
  margin-top: 50px;
}

.footer-text-sec {
  max-width: 320px;
}

.footer-text-sec p {
  color: #8f949a;
  margin-left: 7px;
}

.footer-sec .container {
  max-width: 1300px !important;
}

.footer-sec .link-sec {
  margin-left: 20px;
}

.footer-sec .link-sec h5 {
  margin-bottom: 21px;
}

.footer-sec .link-sec a {
  text-decoration: none;
  display: block;
  color: #8f949a;
  margin-bottom: 10px;
}

.fetchr-sec1,
.fetchr-sec2,
.fetchr-sec3,
.fetchr-sec4 {
  padding: 20px;
}

.copyright-sec {
  text-align: center;
  margin-top: 30px;
  color: #696d72;
}

.container:nth-child(4) .card-section .card-div:hover {
  border-color: #9c9fa3 !important;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
}

.sign-sec {
  float: right;
}

@media (max-width: 991px) {
  .container {
    max-width: 96% !important;
  }

  .fetchr-sec2 .card-section .card-div::after {
    top: 39%;
  }

  .nav-link-btn-sec,
  .sign-sec {
    display: none;
  }
}

@media (max-width: 768px) {
  .fetchr-sec1 .head-sec {
    max-width: 445px;
  }

  .fetchr-sec2 .card-section .card-div::after {
    display: none;
  }

  .fetchr-sec2 .card-section .card-div {
    margin-bottom: 40px;
  }

  .fetchr-sec1 .head-sec h1 {
    font-size: 50px;
    line-height: 60px;
  }

  .fetchr-sec2 .head-sec h1,
  .fetchr-sec3 .head-sec h1 {
    font-size: 40px;
  }

  .footer-sec .link-sec {
    margin-bottom: 35px;
  }

  .fetchr-sec4 h1 {
    font-size: 40px;
    line-height: 54px;
  }

  .footer-sec {
    margin-top: 0;
  }

  .fetchr-sec4 .button-sec {
    max-width: 100%;
  }

  .fetchr-sec3 .head-sec {
    margin-top: 0;
  }

  .fetchr-sec2,
  .fetchr-sec3 {
    padding-top: 50px !important;
  }

  .footer-text-sec {
    margin-left: 14px;
    margin-bottom: 41px;
  }
}

@media (max-width: 567px) {
  .fetchr-sec1 .counter-sec .count-sec h2 {
    font-size: 24px;
  }

  .fetchr-sec1 .counter-sec .count-sec span {
    font-size: 13px;
  }

  .fetchr-sec1,
  .fetchr-sec2,
  .fetchr-sec3 {
    padding: 10px;
  }

  .fetchr-sec4 h1 {
    font-size: 34px;
    line-height: 44px;
  }

  .fetchr-sec4 p {
    line-height: 30px;
  }
}
